.back-button {
  background-color: #a9a9a9;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: black;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 30px;
}