.back-button {
  background-color: #a9a9a9;
  display: absolute;
  width: 20vw;
  height: 10vw;
  margin: auto;
  
  font-size: 3vw;
  color: black;
  line-height: 8vw;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
}