.back-button {
  background-color: #ea80fc;
  color: #1e1e1e;
  position: absolute;
  top: 40px;
  left: 40px;
  text-decoration: none;
  color: black;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  font-size: 80px;
}