.question-container {
  width: 80%;
  margin:auto;

}

.question-text {
  width: 100%;
  text-align: center;
  font-size: 60px;
}

.question-answer {
  width: 600px;
  margin: auto;
  
}

.question-answer * {
  float: left;
}

.question-answer input {
  height: 80px;
  width: 300px;
  font-size: 78px;
}

.question-answer div {
  font-size: 78px;
}