.category-selection {
  display: block;
  margin: auto;
  width: 80vw;
  height: 220px;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: lightgray;
}

.category-card {
  display: inline-block;
  background-color: gray;
  min-width: 300px;
  height: 160px;
  font-size: 50px;

  text-align: center;
  line-height: 145px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}

.category-card:hover {
  cursor:pointer;
}

.category-selected {
  border-width: 4px;
  border-style: solid;
  background-color: aqua;
}