.category-selection {
  display: block;
  margin: auto;
  width: 80vw;
  height: 220px;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #1e1e1e;
}

.category-card {
  display: inline-block;
  background-color: gray;
  min-width: 300px;
  height: 160px;
  font-size: 60px;

  text-align: center;
  line-height: 145px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  font-family: handlee;

  color: #ddd;
  text-shadow: -2px 0 black, 0 3px black, 2px 0 black, 0 -2px black;

  /* Border is defined here and set transparent so it doesn't jitter on selection */
  border-width: 4px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
}

.category-card:hover {
  cursor:pointer;
}

.category-selected {
  border-color: white;
}